:host(.storybook-button) button {
    font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
    border: 0;
    border-radius: 3em;
    cursor: pointer;
    display: inline-block;
    line-height: 1;
    padding: 15px 20px;
  }
  :host(.storybook-button--primary) button {
    color: white;
    background-color: #1ea7fd;
  }
  :host(.storybook-button--secondary) button {
    color: #333;
    background-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
  }
  :host([size='small']) button {
    font-size: 12px;
    padding: 10px 16px;
  }
  :host([size='medium']) button {
    font-size: 14px;
    padding: 11px 20px;
  }
  :host([size='large']) button {
    font-size: 16px;
    padding: 12px 24px;
  }
  :host([size='undefined']) button {
    font-size: 16px;
    padding: 12px 24px;
    background-color: red;
  }
  